# --------NAVIGATION--------

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Using slime to open sublime
alias slime='open -a "Sublime Text"'

# Using idea to open intellij
alias idea='open -a "IntelliJ IDEA 13"'